/* GENERAL STYLING ON ALL PAGES STARTS HERE */
body{
  background-color: #eee;
  font-family: 'Lucida Grande', 'Helvetica Neue', Roboto, sans-serif;
}

.bg-facebook-blue{
  background-color: #3b5998;
  color: white;
}
.bg-facebook-blue:hover{
  color: white;
}

.logo{
  color: white;
  font-family: Tahoma, 'Helvetica Neue', Roboto, sans-serif;
}
.logo:hover{
  color: white;
}

.footer{
  background-color: white;
  font-size: 15px;
  font-weight: 300;
}

ul{
  list-style-type: none;
}
ul li{
  padding: 10px;
}

.copyright{
  font-size: 70%;
  padding-bottom: 20px;
}
/* GENERAL STYLING ON ALL PAGES ENDS HERE */

/* INDEX PAGE */
#mainContent{
  background-color: white;
  font-size: 80%;
  width: 500px;
  height: 420px;
  padding: 60px;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* CREATE ACCOUNT PAGE */
.headerForm{
  font-size: 70%;
}

.createAccount{
  width: 442px;
}

.moreInfo{
  font-size: 100%;
}

.confirmText{
  font-size: 70%;
}

/* FORGOT PASSWORD PAGE */
#findAcct{
  background-color: white;
  width: 550px;
  height: 230px;
  padding: 20px;
  margin: 100px 400px 100px;
}

#infoText{
  font-size: 80%;
}

/* USER MAIN PAGE */

/* SIDE NAVIGATION SECTION */
#searchIcon, .nav-item a{
  color: white;
}

.active a{
  color: #ddd;
  text-decoration: underline;
}

#navPic{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.sideNavItem{
  cursor: pointer;
}

#userMain{
  font-size: 80%;
}

#sideNavPic{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}

/* MAIN CONTENT SECTION */
#createPostHeader{
  height: 30px;
}

.createPostPic{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

textarea{
  border: none;
}

.postEnhance{
  background-color: #eee;
  padding: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.storiesPic{
  width: 125px;
  height: 200px;
  margin: 5px 12px; /* margin of 5px on top and bottom, then 12px on both sides */
  border: 1px solid #999;
  border-radius: 20px;
  cursor: pointer;
}
.storiesPic:hover{
  opacity: 0.5;
}

.postedPic{
  width: 170px;
  margin: 2px;
}

.morePosts{
  cursor: pointer;
}

/* FRIEND REQUESTS SECTION ON USER MAIN PAGE */
.mayKnow{
  font-size: 90%;
}
.mayKnowImage, .chatsImage{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

ul.footerItems, ul.footerLinks{
  list-style-type: none;
  margin-left: -15px;
  font-size: 90%;
}
ul.footerItems li, ul.footerLinks li{
  padding: 2px;
  display: inline;
}

/* END OF MAIN PAGE STYLING */

/* USER PROFILE PAGE */
#profileDetails{
  font-size: 80%;
  /* margin-left: 5%; */
}

#coverImg{
  width: 100%;
  height: 350px;
}

#profilePic{
  width: 170px;
  height: 170px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  bottom: -200px;
  left: 15px;
}

.friendsCount{
  font-size: 70%;
}

#extraInfo{
  max-width: 330px;
}

.displayImgs{
  width: 45%;
  height: 45%;
  padding: 2px;
}

#profileFriends{
  height: 150px;
}

.friendImgs{
  width: 80%;
  height: 100%;
  padding-left: 10px;
}

#mainPosts{
  max-width: 530px;
}